
{% extends "base.html" %}
{% block content %}
    <h2 class="fw-bold mb-2 text-uppercase">Головна сторінка</h2>
    <p class="text-white-50 mb-5">Ласкаво просимо на головну сторінку!, {{ current_user.email }}</p>


    <div class="d-flex justify-content-center">
        <a href="{{ url_for('logout') }}" class="btn btn-outline-light btn-lg px-5">Вийти</a>
    </div>
    <hr>

    {% if user.confirmed %}
        <p class="text-white-50 mb-5">Ваш аккаунт активовано.</p>
    {% else %}
        <div class="d-flex justify-content-center">
            <a href="{{ url_for('send_confirmation',email=user.email) }}" class="btn btn-outline-light btn-lg px-5">Активувати аккаунт</a>
        </div>
    {% endif %}
    {% if user.is_admin %}
    <hr>
        <div class="d-flex justify-content-center">
            <a href="{{ url_for('login_attempts')}}" class="btn btn-outline-light btn-lg px-5">Перегляд спроб входів</a>
        </div>
    {% endif %}
    <hr>
    {% if user.is_two_factor_enabled %}
        <p class="text-white-50 mb-5">2FA аутентифікація увімкнена.</p>
        <div class="d-flex justify-content-center">
            <a href="{{ url_for('disable_2fa')}}" class="btn btn-outline-light btn-lg px-5">Вимкнути 2FA аутентифікацію</a>
        </div>
    {% else %}
        <p class="text-white-50 mb-5">2FA аутентифікація вимкнено.</p>
        <div class="d-flex justify-content-center">
            <a href="{{ url_for('enable_2fa')}}" class="btn btn-outline-light btn-lg px-5">Увімкнути 2FA аутентифікацію</a>
        </div>
    {% endif %}

{% endblock %}